@model IEnumerable<EBPN_Network.Models.Comment>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var comment in Model)
        {
            <li>@comment.Text</li>
        }
    </ul>
}
else
{
    <p>No comments yet.</p>
}
